<!DOCTYPE html>
<html>
<head>
  <title>Edit Song</title>
</head>
<body>
  <h1>Edit a Song</h1>

  <form action="/songs/<%=@song_to_edit["id"]%>" method="post">
    <label for="title">Title:</label>
    <input name="song-title" id="title" type="text" value="<%=@song_to_edit['title']%>">
    <input name="_method" type="hidden" value="put"><br>

    <input type="submit">
  </form>

  <form action="/songs/<%=@song_to_edit["id"]%>" method="post">
    <input name="song-title" type="hidden" value="<%=@song_to_edit['title']%>">
    <input name="id" type="hidden" value="<%=@song_to_edit['id']%>">
    <input name="_method" type="hidden" value="delete"><br>

    <input type="submit" value="Delete">
  </form>


</body>
</html>  